.flexContainer{
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    margin: 0 auto;
    padding: 0 15px;
}

.flexContainer>div{
    margin: 0 0 50px;
    padding: 0 15px;
    text-align: center;
}
.flexContainer>div:hover{
    background-color: rgb(230, 208, 235);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transform: scale(0.8);
    transition: transform 0.5s, background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
}
.flexContainer>div:active{
    background-color: rgb(228, 145, 210);
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.5s, background-color 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}